/* ------------------------------------------------------------ *\
    CSS Reset   
\* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:focus-visible {
    outline: none;
}

/* ------------------------------------------------------------ *\
    Font Faces
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Light.woff2) format('woff2'),
         url(../assets/fonts/HelveticaNeue-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Roman.woff2) format('woff2'),
         url(../assets/fonts/HelveticaNeue-Roman.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Medium.woff2) format('woff2'),
         url(../assets/fonts/HelveticaNeue-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Bold.woff2) format('woff2'),
         url(../assets/fonts/HelveticaNeue-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

:root {
    --helvetica-neue: 'Helvetica Neue', sans-serif;
    --tahoma-font-fam: Tahoma, Verdana, 'Segoe UI', sans-serif;
    --open-sans-font-fam: 'Open Sans', Arial, sans-serif;
    --blue-font-color: #03729e;
    --lighter-grey-font-color: #cecece;
    --light-grey-font-color: #bcbcbc;
    --grey-font-color: #737373;
    --dark-grey-font-color: #434343;
}
    
/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

body {
    color: var(--grey-font-color);
    font: 500 15px/1.3 var(--helvetica-neue);
}

h1 {
    color: var(--dark-grey-font-color);
    font: 300 40px/1.2 var(--helvetica-neue);
}

/* ------------------------------------------------------------ *\
    Shell
\* ------------------------------------------------------------ */

.shell {
    max-width: 880px;
    margin-inline: auto;
}

/* ------------------------------------------------------------ *\
    Horizontal Line
\* ------------------------------------------------------------ */

.horizontal-line:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border: 1px solid transparent;
    border-top-color: #F0F0F0;
    margin-top: 17px;
}

/* ------------------------------------------------------------ *\
    Body Background
\* ------------------------------------------------------------ */

.body-background-pattern {
    background-image: url(images/body-background-pattern.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

.body-background-overlay {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05) 100%);
    background-position: center center; 
}

.body-inner-background-color {
    background-color: #ffffff;
    width: 960px;
    margin-inline: auto;
}

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

.header {
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.15);
    padding-block: 22px 27px;
}

.header-wrapper {
    font: 13px/1.54 var(--open-sans-font-fam);
    display: flex;
    align-items: center;
}

.header-wrapper .moto {
    display: inline-block;
    vertical-align: middle;
}

.header-wrapper .moto--blue {
    color: var(--blue-font-color);
}

.header-wrapper .divider {
    background-color: var(--lighter-grey-font-color);
    width: 1px;
    height: 30px;
    margin-inline: 18px;
}

/* ------------------------------------------------------------ *\
    Logo
\* ------------------------------------------------------------ */

.logo img {
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-left: -4px;
}

/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */

.form__head {
    padding: 44px 8px 40px;
}

.form__section h4 {
    margin: 0 0 39px 10px;
}

.form__section + .form__section {
    padding-top: 58px;
}

.form__row {
    position: relative;
    max-width: 450px;
    margin: 0 auto 19px;
    padding-inline: 18px 2px;
}

.form__row--optional { 
    display: flex;
    align-items: center;
    gap: 20px;
}

.form__label {
    position: absolute;
    left: -230px;
    width: 230px;
    padding-right: 32px;
	text-align:right;
    top: 50%;
    transform: translateY(-50%);
}

.form__label--textarea {
    top: 10%; 
    transform: none;
    line-height: 1.2; 
}

.form__label:where(:hover, :focus) {
    color: var(--blue-font-color);
}

.form__cols {
    display: flex;
    gap: 18px;
}

.form__content {
    padding-inline: 10px;
    margin-bottom: 57px;
    line-height: 1.6;
}

.form__content + .form__row {
    margin-bottom: 32px;
}

.form__action {
    text-align: center;
    margin-left: -38px;
}

/* ------------------------------------------------------------ *\
    Field
\* ------------------------------------------------------------ */

.field {
    cursor: pointer;
    color: var(--lighter-grey-font-color);
    font: 400 15px var(--helvetica-neue);
    border: 1px solid rgba(115, 115, 115, 0.38); 
    box-shadow: inset 0 0 9px rgba(81, 81, 81, 0.06), inset 1px 1px 1px rgba(0, 0, 0, 0.09); 
    padding-inline: 16px;
    height: 44px;
    border-radius: 7px;
    width: 100%;
    transition: border .7s ease-in-out, 'box-shadow' .7s ease-in-out;
}

.field--textarea {
    padding: 13px 16px;
    height: 120px;
}

.field::placeholder {
    color: var(--lighter-grey-font-color);
    font: 400 15px var(--helvetica-neue);
}

.field:where(:hover, :focus) { 
    border: 1px solid rgba(0, 110, 204, 0.38); 
    box-shadow: 0 0 6px 1px rgba(0, 153, 204, 0.75);
}

.field--xxsmall {
    width: 25.5%;
}

.field--xsmall {
    width: 29%;
}

.field--small {
    width: 50%;
}

.field--medium {
    width: 55%;
}

.field--large {
    width: 75%;
}

/* ------------------------------------------------------------ *\
    Form Hint
\* ------------------------------------------------------------ */

.form__hint {
    font: 400 15px/1.6 var(--helvetica-neue);
    color: var(--lighter-grey-font-color);
}

.form__hint--textarea {
    color: var(--light-grey-font-color);
    font: italic 400 13px/1.2 var(--helvetica-neue);
    display: block;
    text-align: right;
}

/* ------------------------------------------------------------ *\
    Select
\* ------------------------------------------------------------ */

.select select {
    appearance: none;
    background: linear-gradient(to bottom, #FFFFFF 50%, #FAFAFA 50%);
    color: var(--lighter-grey-font-color);
    font: 400 15px var(--helvetica-neue);
    border: 1px solid rgba(115, 115, 115, 0.38); 
    box-shadow: inset 0 0 9px rgba(81, 81, 81, 0.06), inset 1px 1px 1px rgba(0, 0, 0, 0.09); 
    padding-inline: 16px;
    height: 44px;
    border-radius: 7px;
    width: 100%;
    transition: border .7s ease-in-out, 'box-shadow' .7s ease-in-out;
}

.select select:where(:hover, :focus) { 
    border: 1px solid rgba(0, 110, 204, 0.38); 
    box-shadow: 0 0 6px 1px rgba(0, 153, 204, 0.75);
}

.select {
    position: relative;
}

.select::before,
.select::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 5;
}

.select::before {
    border-width: 0px 2px 4px;
    border-color: transparent transparent var(--grey-font-color) transparent;
    top: 16px;
    right: 21px;
}

.select::after {
    border-width: 4px 2px 0;
    border-color: var(--grey-font-color) transparent transparent transparent;
    bottom: 16px;
    right: 21px;
}

/* ------------------------------------------------------------ *\
    Checkbox
\* ------------------------------------------------------------ */

.checkbox input{
    box-shadow: inset 0 0 9px rgba(81, 81, 81, 0.06);
}

.checkbox label[for=checkbox_terms],
.terms {
    cursor: pointer;
    color: #999999;
    font-size: 13px;
    transition: color 0.3s ease-in; 
}

.terms:where(:hover, :focus) {
    color: var(--blue-font-color);
}

/* ------------------------------------------------------------ *\
    Form Btn
\* ------------------------------------------------------------ */

.form__btn {
    display: inline-block;
    font: 700 15px var(--helvetica-neue);
    color: #ffffff;
    width: 181px;
    margin-inline: 5px;
    padding-block: 13px;
    border: 1px transparent solid;
    border-radius: 3px;
    transition: background-color .5s ease, color .5s ease, border .3s ease-in;
    cursor: pointer;
}

.form__btn--save {
    background-color: #03729E;
}

.form__btn--submit {
    background-color: #0099CC;
}

.form__btn:where(:hover, :focus) {
    background-color: #ffffff;
    color: var(--grey-font-color);
    border-color: var(--blue-font-color);
}

/* ------------------------------------------------------------ *\
    Footer
\* ------------------------------------------------------------ */

.footer {
    font: 600 14px var(--tahoma-font-fam);
    letter-spacing: -0.56px;
    color: #5e5e5e;
    padding-block: 29px;
    padding-left: 37px;
    text-align: center;
}

.qns-link {
    color: #5e5e5e ;
    transition: color 0.3s ease-in; 
    cursor: pointer;
}

.qns-link:where(:hover, :focus) {
    color: var(--blue-font-color)
}

.footer .divider {
    margin-inline: 11px 8px;
    display:inline-block;
    width: 2px;
    height: 2px;
    margin-block: 6px;
    border-radius: 3px;
    background-color:#5e5e5e;
}
