/* ------------------------------------------------------------ *\
    CSS Reset   
\* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:focus-visible {
    outline: none;
}

/* ------------------------------------------------------------ *\
    Font Faces
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Black.woff2) format('woff2'),
        url(../assets/fonts/Poppins-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../assets/fonts/Helvetica-Bold.woff2) format('woff2'),
        url(../assets/fonts/Helvetica-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.woff2) format('woff2'),
        url(../assets/fonts/Poppins-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Roman.woff2) format('woff2'),
        url(../assets/fonts/HelveticaNeue-Roman.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Bold.woff2) format('woff2'),
         url(../assets/fonts/HelveticaNeue-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Medium.woff2) format('woff2'),
        url(../assets/fonts/Poppins-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

:root {
    --poppins: 'Poppins', sans-serif;
    --helvetica: 'Helvetica', sans-serif;
    --helvetica-neue: 'Helvetica Neue', sans-serif;
    --white: #ffffff; 
    --yellow: #edc142;
    --lighter-grey: #EBEBEB;
    --light-grey: #F4F4F4;
    --grey: #B4B4B4;
    --dark-grey: #95989A;
    --darker-grey: #5D5D5D;
}

/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

body {
    color: var(--white);
    font: 16px/1.2 var(--helvetica-neue)
}

h1 {
    font: 700 120px/1 var(--poppins)
}

h2 {
    font: 900 30px/1.2 var(--poppins)
}

h3 {
    font: 900 25px/1.2 var(--poppins)
}

h4 {
    font: 700 20px/1.2 var(--poppins)
}


/* ------------------------------------------------------------ *\
    Btn
\* ------------------------------------------------------------ */

/* Helvetica */

.btn {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font: 700 15px/1.2 var(--helvetica);
}

/* ------------------------------------------------------------ *\
    Shell
\* ------------------------------------------------------------ */

.shell {
    max-width: 1078px;
    margin-inline: auto;
}

.shell--small {
    max-width: 964px;
}

.shell--large {
    max-width: 1160px;
}

/* ------------------------------------------------------------ *\
    Btn
\* ------------------------------------------------------------ */

.btn {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font: 700 15px/1.2 var(--helvetica);
    padding: 17px 45px 18px;
    border: none;
    background-color: var(--yellow);
}

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

.header {
    padding-block: 29px 25px;
    background-color: var(--yellow);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: -6px -7px;

}
/* ------------------------------------------------------------ *\
    Nav
\* ------------------------------------------------------------ */

.nav ul {
    display: flex;
    gap: 92px;
    list-style: none;
}

.nav a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font: 700 14px/1.2 var(--poppins)
}

/* ------------------------------------------------------------ *\
    Logo
\* ------------------------------------------------------------ */

.logo {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
    Hero 
\* ------------------------------------------------------------ */

.hero-head-play-button {
	position:relative;
    display: block;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 2px var(--white) solid; 
    margin:0 auto 50px;
}

.hero-head-play-button:after {
	position:absolute;
    display: block;
	content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 35px; 
    border-color: transparent transparent transparent var(--white); 
    top: calc(50% + 10px);
    left: calc(50% + 10px);
    transform: translate(calc(-50%), calc(-50% - 10px));
}

.hero {
    min-height: 810px;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.hero-background {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.hero-inner {
    max-width: 560px;
    font-size: 20px;
    font-weight: 500;
    margin: -59px 0 0 -33px;
    letter-spacing: 0.058em;
    line-height: 1.5;
}

.hero-inner h1 {
    margin-bottom: 48px;
}

/* ------------------------------------------------------------ *\
    Section 
\* ------------------------------------------------------------ */

.section {
    padding-block: 60px 95px;
}

.section-head {
    color: var(--darker-grey);
    max-width: 480px;
    margin-bottom: 90px;
    line-height: 1.5;
    padding-left: 26px;
}

.section-head h2 {
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 0.02em;
}   

.section--lighter-grey {
    background-color: #EBEBEB;
}

.section--small-gutters {
    padding-block: 95px 18px;
}

.section--large-gutters {
    padding-block: 214px 82px;
}

.section-grid {
    background-color: var(--grey);
    padding-block: 87px 100px;
    border-bottom: 6px var(--lighter-grey) solid;
    box-shadow: 0px 4px 10px rgba(96, 94, 94, 0.1);
}

/* ------------------------------------------------------------ *\
    Image List 
\* ------------------------------------------------------------ */

.image-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-left: 43px;
}

.image-list figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.image-overlay {
    position: absolute;
    isolation: isolate;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(237, 193, 66, 0.5); /* Orange overlay with 0.5 opacity */
    padding: 115px 12px 88px;
}

.image-overlay h3 {
    text-transform: uppercase;
}

.image-overlay-head--small {
    max-width: 200px;
}

/* ------------------------------------------------------------ *\
    Services
\* ------------------------------------------------------------ */

.services {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: var(--yellow);
    text-align: center;
    gap: 91px 86px;
    margin-bottom: 97px;
    white-space: nowrap;
}

.services h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------ *\
    Article
\* ------------------------------------------------------------ */

.article {
    display: flex;
    align-items: center;
    border: 2px var(--yellow) solid;
    color: var(--darker-grey);
    justify-content: flex-end;
    text-align: center;
    padding-inline: 110px 0;
    gap: 30px;
}

.article + .article {
    margin-top: 57px;
}


.article-reversed {
    flex-direction: row-reverse;
    border:transparent;
    background-color: var(--lighter-grey);
    padding-inline: 0 80px;
}

.article-inner { 
    flex: 1;
}

.article-inner h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.article-content {
    margin-bottom: 30px;
    text-align: left;
}

.article-content-small {
    max-width: 475px;
    margin-inline: auto;
}

.article figure {
    flex: 0 0 35%;
    height: 100%;
}

.article img {
    width: auto;
    height: 100%;
    object-fit: contain;
    vertical-align: top;
}

/* ------------------------------------------------------------ *\
    Grid
\* ------------------------------------------------------------ */

.grid-cols {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grid-cols + .grid-cols {
    margin-top: 45px;
}

.grid--underline {
    display: block;
    content: "";
    width: 64px;
    height: 1px;
    background-color: var(--white);
    margin: 73px auto 80px;
}

.grid-body {
    margin-bottom: 65px;
}

.grid-body figure {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.grid-cols--offset {
    justify-content: space-evenly;
}

.grid-foot {
    text-align: center;
    letter-spacing: 0.02em;
}

/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */

.form__head h2 {
    text-transform: uppercase;
    color: var(--yellow);
}

.form__head {
    margin-bottom: 64px;
}

.form__body {
    padding-inline: 62px;
    margin-bottom: 22px;
}

.form__row + .form__row {
    margin-top: 30px;
}

.form__cols { 
    display: flex;
    gap: 35px;
}

.form__col {
    flex: 0 0 calc(50% - 17px);
    display: flex;
}

.form__label { 
    flex: 0 0 25%;
    background-color: var(--yellow);
    text-transform: uppercase;
    padding-inline: 19px 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    display: inline-block;
}

.form__controls {
    flex: 1;
}

.form__actions{
    padding-inline: 63px;
}

/* ------------------------------------------------------------ *\
    Field
\* ------------------------------------------------------------ */

.field {
    width: 100%;
    padding-inline: 26px;
    height: 50px;
    border: 1px var(--yellow) solid;
}

.field--textarea {
    padding-block: 20px;
    height: 140px;
}

/* ------------------------------------------------------------ *\
    Footer
\* ------------------------------------------------------------ */

.footer {
    font-size: 14px;
    padding-block: 56px;
    background-color: var(--darker-grey);
}

.footer-cols {
    display: flex;
    justify-content: space-between;
    padding-inline: 7px 8px;
}

.footer-col a {
    color: currentColor;
    text-decoration: none;
}

.footer-col address {
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 8px
}

.footer-col h4 {
    margin-block: -12px 11px;
}

/* ------------------------------------------------------------ *\
    Form Btn
\* ------------------------------------------------------------ */

.form__btn {
    padding: 17px 81px 18px;
}

/* ------------------------------------------------------------ *\
    Socials 
\* ------------------------------------------------------------ */

.socials ul {
    list-style: none;
 }

.socials li {
    display: flex;
    align-items: center;
    gap: 21px;
}

.socials li + li { 
    margin-top: 8px;
}
 
.socials--absolute {
    position: absolute;
    bottom: 38px;
    right: 52px;
}
 
.socials--absolute ul {
    display: flex;
    gap: 32px;
}

.socials--absolute li + li {
    margin-top: 0;
}

 .socials i {
    display: block;
 }
 
 .socials img {
    vertical-align: top;
 }

 /* ------------------------------------------------------------ *\
    Subscribe
 \* ------------------------------------------------------------ */
 
 .subscribe label{
    display: block;
    color: var(--white);
    margin-bottom: 22px;
    font-size: 14px;
 }

 .subscribe__actions { 
    display: flex;
    align-items: center;
 }

 .subscribe__field {
    flex: 1;
    color: var(--white);
    height: 40px;
    border:1px var(--white) solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: transparent;
    padding-inline: 20px;
    font-size: 14px;
}

 .subscribe__btn {
    height: 40px;
    border:1px var(--white) solid;
    background-color: var(--white);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-inline: 23px;
    font-size: 10px;
    text-transform: uppercase;
 }

 /* ------------------------------------------------------------ *\
    Contacts
 \* ------------------------------------------------------------ */
 
.contacts ul {
    list-style: none;
}
 
.contacts li + li {
    margin-top: 8px;
}