/* ------------------------------------------------------------ *\
    CSS Reset   
\* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:focus-visible {
    outline: none;
}

/* ------------------------------------------------------------ *\
    Font Faces
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Black.woff2) format('woff2'),
        url(../assets/fonts/Poppins-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../assets/fonts/Helvetica-Bold.woff2) format('woff2'),
        url(../assets/fonts/Helvetica-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.woff2) format('woff2'),
        url(../assets/fonts/Poppins-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Roman.woff2) format('woff2'),
        url(../assets/fonts/HelveticaNeue-Roman.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../assets/fonts/HelveticaNeue-Bold.woff2) format('woff2'),
         url(../assets/fonts/HelveticaNeue-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Medium.woff2) format('woff2'),
        url(../assets/fonts/Poppins-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

:root {
    --poppins: 'Poppins', sans-serif;
    --helvetica: 'Helvetica', sans-serif;
    --helvetica-neue: 'Helvetica Neue', sans-serif;
    --white: #ffffff; 
    --yellow: #edc142;
    --lighter-grey: #EBEBEB;
    --light-grey: #F4F4F4;
    --grey: #B4B4B4;
    --dark-grey: #95989A;
    --darker-grey: #5D5D5D;
}

/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

body {
    color: var(--white);
    font: 16px/1.2 var(--helvetica-neue)
}

h1 {
    font: 700 80px/1.2 var(--poppins)
}

h2 {
    font: 900 30px/1.2 var(--poppins)
}

h3 {
    font: 900 25px/1.2 var(--poppins)
}

h4 {
    font: 700 20px/1.2 var(--poppins)
}


/* ------------------------------------------------------------ *\
    Btn
\* ------------------------------------------------------------ */

/* Helvetica */

.btn {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font: 700 15px/1.2 var(--helvetica);
}

/* ------------------------------------------------------------ *\
    Shell
\* ------------------------------------------------------------ */

.shell {
    max-width: 1026px;
    margin-inline: auto;
}

.shell--small {
    max-width: 964px;
}

.shell--large {
    max-width: 1160px;
}

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

.header {
    padding-block:30px;
    background-color: var(--yellow);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* ------------------------------------------------------------ *\
    Nav
\* ------------------------------------------------------------ */

.nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font: 700 14px/1.2 var(--poppins)
}

/* ------------------------------------------------------------ *\
    Logo
\* ------------------------------------------------------------ */

.logo {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
    Hero 
\* ------------------------------------------------------------ */

.hero-head-play-button {
	position:relative;
    display: block;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 2px var(--white) solid; 
    margin:0 auto 50px;
}

.hero-head-play-button:after {
	position:absolute;
    display: block;
	content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 35px; 
    border-color: transparent transparent transparent var(--white); 
    top: calc(50% + 10px);
    left: calc(50% + 10px);
    transform: translate(calc(-50%), calc(-50% - 10px));
}

.hero {
    min-height: 900px;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.hero-background {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: top;
}

.hero-inner {
    max-width: 500px;
    font-size: 20px;
    font-weight: 500;
}

.hero-inner h1 {
    margin-bottom: 45px;
}


/* ------------------------------------------------------------ *\
    Socials 
\* ------------------------------------------------------------ */

.socials ul {
   list-style: none;
}

.socials--absolute {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.socials--absolute ul {
    display: flex;
    gap: 20px;
}

/* ------------------------------------------------------------ *\
    Section 
\* ------------------------------------------------------------ */

.section {
    padding-block: 60px 60px;
}

.section-head {
    color: var(--darker-grey);
    max-width: 480px;
}

.section-head h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------ *\
    Image List 
\* ------------------------------------------------------------ */

.image-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.image-list figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.image-overlay {
    position: absolute;
    isolation: isolate;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(237, 193, 66, 0.5); /* Orange overlay with 0.5 opacity */
}

.image-overlay h3 {
    text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
    Services
\* ------------------------------------------------------------ */

.services {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: var(--yellow);
    text-align: center;
    gap: 30px 20px;
}

.services h3 {
    text-transform: uppercase;
}
