/* ------------------------------------------------------------ *\
    CSS Reset   
\* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:focus-visible {
    outline: none;
}

/* ------------------------------------------------------------ *\
    Font Faces
\* ------------------------------------------------------------ */
  
@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaCyrillicBook.woff2') format('woff2'),
         url('../assets/fonts/FuturaCyrillicBook.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaCyrillicHeavy.woff2') format('woff2'),
         url('../assets/fonts/FuturaCyrillicHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('../assets/fonts/Butler.woff2') format('woff2'),
         url('../assets/fonts/Butler.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('../assets/fonts/Butler-ExtraBold.woff2') format('woff2'),
         url('../assets/fonts/Butler-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

:root {
    --futura-font-fam : 'Futura', sans-serif;
    --butler-font-fam : 'Butler', serif;
    --white-color : #ffffff;
    --black-color : #000000;
    --grey-color : #3a3a3a;
}

/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

body {
    color: var(--black-color);
    font: 400 24px/1.2 var(--butler-font-fam);
}

h1 {
    font: 700 100px/1.04 var(--butler-font-fam);
    letter-spacing: 0.011em;
}

h2 {
    font: 400 48px/1.333 var(--butler-font-fam);
}

h4 {
    text-transform: uppercase;    
    font: 900 18px/1.2 var(--futura-font-fam);
    letter-spacing: 0.15em;
}

h5 {
    text-transform: uppercase;
    font: 900 18px/1 var(--futura-font-fam);
    letter-spacing: 0.22em;
}

/* ------------------------------------------------------------ *\
    Shell    
\* ------------------------------------------------------------ */

.shell {
    max-width: 1130px;
    margin-inline: auto;
}

.shell--small {
    max-width: 920px;
}

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

.header {
    background-color: var(--white-color);
    padding-block: 44px 40px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -34px; 
}

/* ------------------------------------------------------------ *\
    Logo
\* ------------------------------------------------------------ */

.logo {
    display: block;
    line-height: 0;
}

/* ------------------------------------------------------------ *\
    Nav
\* ------------------------------------------------------------ */

.nav ul {
    list-style: none;
    display: flex;
    gap: 41px;
}

.nav a {
    color: currentColor;
    text-transform: uppercase;    
    font: 900 18px/1.2 var(--futura-font-fam);
    letter-spacing: 0.15em;
    text-decoration: none;
    transition: color .3s ease-in , text-shadow .3s ease-in;
    text-shadow:none;
    cursor: pointer;
}

.nav a:where(:hover, :focus) {
    color: var(--grey-color);
    text-shadow: 0 2px 5px rgba(7, 1, 1, 0.5);
} 

/* ------------------------------------------------------------ *\
    Hero    
\* ------------------------------------------------------------ */

.hero {
    position:relative;
    isolation: isolate;
    padding-block: 220px;
}

.hero-background {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    width: 35.5%;
    margin-inline: auto 20px;
}

.hero-content h5 {
    margin-top: -8px;
}

/* ------------------------------------------------------------ *\
    Section Articles
\* ------------------------------------------------------------ */

.section-articles { 
    padding-block: 150px 75px;
}

.section-articles h2 { 
    text-align: center;
    margin-bottom: 150px;
}

.section-articles-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 153px 130px;
}

/* ------------------------------------------------------------ *\
    Article 
\* ------------------------------------------------------------ */

.article {
    line-height: 1.63;
}

.article h4 {
    margin-bottom: 32px;
}

.article-image img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.article--small {
    width: 470px;
}

.article--center {
    align-self: center;
}

/* ------------------------------------------------------------ *\
    Section   
\* ------------------------------------------------------------ */

.section {
    padding-block: 75px;
}

.section h2 {
    text-align: center;
    margin-bottom: 134px;
}

.section h2 a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: currentColor;
    text-shadow:none;
    transition: color .3s ease-in , text-shadow .3s ease-in;
}

.section h2 a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: background-color .3s ease-in;
}

.section h2 a:where(:hover, :focus) {
    color: var(--grey-color);
    text-shadow: 0 2px 5px rgba(7, 1, 1, 0.5);
} 

.section h2 a:where(:hover, :focus):after{
    background-color: var(--grey-color);
}

/* ------------------------------------------------------------ *\
    List Feeds
\* ------------------------------------------------------------ */

.list-feeds {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 16px;
}

.list-feeds a {
    cursor: pointer;
    display: block;
    transition: opacity .3s ease-in-out;
}

.list-feeds a:where(:hover, :focus) {
    opacity: 0.7;   
}

.list-feeds img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */

.form-contact-us {
    padding-block:75px;
}

.form__head {
    color: var(--grey-color);
    text-align: center;
    margin-bottom: 151px;
}

.form__head h2 {
    line-height: 1.24;
}

.form__body {
    padding-inline: 38px;
    margin-bottom: 30px;
}

.form__actions {
    padding-inline: 40px;
}

.form__row + .form__row {
    margin-top: 80px;
}

.form__label {
    display: block;
    text-transform: uppercase;
    font: 900 18px/1.2 var(--futura-font-fam);
    letter-spacing: 0.15em; 
    margin-bottom: 23px;
}

/* ------------------------------------------------------------ *\
    Form Btn
\* ------------------------------------------------------------ */

.form__btn {
    display: inline-block;
    font: 900 18px/1.2 var(--futura-font-fam);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding-inline: 42px;
    height: 68px;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--black-color);
    border: 1px transparent solid;
    transition: background-color 0.3s ease-in, color 0.3s ease-in , border 0.3s ease-in; 
}

.form__btn:where(:hover, :focus) {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px var(--black-color) solid;
}

/* ------------------------------------------------------------ *\
    Field
\* ------------------------------------------------------------ */

.field {
    font: 400 24px/1.2 var(--futura-font-fam);
    width: 100%;
    height: 70px;
    padding-inline: 19px;
    border: 2px #D7D8D9 solid;
    transition: border .3s ease-in;
}

.field:where(:hover, :focus) {
    border: 2px var(--black-color) solid 
}

.field--textarea {
    height: 230px;
    padding: 19px;
}

/* ------------------------------------------------------------ *\
    Footer
\* ------------------------------------------------------------ */

.footer-main {
    padding-block: 75px 47px;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    justify-items: center;
    gap: 56px;
}

.footer-col:first-child {
    justify-self: flex-end;
}

.footer-col:nth-child(3) {
    justify-self: flex-start;
}

.footer-col address {
    line-height: 1.6;
    font-style: normal;
    margin-right: 36px;
}

/* ------------------------------------------------------------ *\
    Socials 
\* ------------------------------------------------------------ */

.socials h4 {
    max-width: 300px;
    line-height: 1.6;
    margin-block:-4px 30px;
}

.socials ul {
    display: flex;
    list-style: none;
    gap: 27px;
}

.socials i {
    display: block;
}

.socials img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.socials a {
    display: block;
    transition: transform .3s ease-in;
    cursor: pointer;
}

.socials a:where(:hover, :focus) {
    transform: scale(0.9);
}

/* ------------------------------------------------------------ *\
    Copyright
\* ------------------------------------------------------------ */

.copyrigth {
    font: 400 18px/1.33 var(--futura-font-fam);
    text-align: center;
    padding-block: 14px 65px;
}
