/* ------------------------------------------------------------ *\
    CSS Reset   
\* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:focus-visible {
    outline: none;
}

/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

:root {
    --new-frank-font: 'new-frank', sans-serif;
}

/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

body {
    font: 300 24px/1.5 var(--new-frank-font)
}

h1 {
    font: 700 140px/1.2 var(--new-frank-font)
}

h2 {
    font: 700 60px/1.2 var(--new-frank-font)
}

h4 {
    font: 700 32px/1.2 var(--new-frank-font)
}

h5 {
    font: 700 21px/1.2 var(--new-frank-font)
}

/* ------------------------------------------------------------ *\
    Contacts
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Socials
\* ------------------------------------------------------------ */

